.activity-feed-container {
    position: fixed;
    top: 7%;
    background-color: var(--friend-panel);
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    border-left: 1px solid var(--border-color);
    height: 100%;
    width: 22%;
}

.activity-feed {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.activity-item {
    display: flex;
    background-color: #2d3037;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 10px;
    border-radius: 15px;
    cursor: default;
    width: 350px;
    height: 60px;
    gap: 5px;
}

.activity-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.activity-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    border: none;
    color: var(--font-color);
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: var(--accent-color-hover);
}

.toggle-arrow {
    font-size: 20px;
    transform: rotate(180deg);
}

.activity-feed-container.collapsed .toggle-arrow {
    transform: rotate(0deg);
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: var(--font-color);
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: var(--accent-color-hover);
}

.activity__line {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.activity__filed {
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.activity__user__info {
    display: flex;
    gap: 5px;
    flex-direction: column;
}