.activity-feed {
    padding: 15px;
    background: linear-gradient(135deg, #424242 0%, #2c2c2c 100%);
    color: #e0e0e0;
    border-radius: 10px;
    width: calc(30% - 90px);
    height: calc(90% - 200px);
    margin: 10px 20px;
    position: absolute;
    right: 0;

    border: 2px solid #616161;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.activity-feed:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.9);
}

.activity-feed h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #b8b8b8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.activity-feed ul {
    list-style-type: none;
    padding-left: 0;
}

.activity-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.activity-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.activity__user__info {
    display: flex;
    flex-direction: column;
}

.activity__user__info span {
    color: #b0b0b0;
}