.mini-profile {
    padding: 12px;
    background-color: var(--mini-profile-color);
    border-top: 1px solid var(--border-color);
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 285px;
    border-radius: 15px;
    margin-left: 40px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.mini-profile__avatar {
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-bottom: 8px;
}

.mini-profile__avatar img {
    border-radius: 50%;
}

.user-info-mini {
    display: none;
    background-color: var(--tertiary-bg-color);
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 10;
}

.user-info-mini.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-profile__info {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-profile__username {
    font-weight: bold;
    color: var(--text-color);
}

.mini-profile__status {
    font-size: 12px;
    color: var(--subtle-text-color);
}

.mini-profile__icons {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.mini-profile__icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}