.search-container {
    padding: 10px;
    background-color: #424751;
    border-radius: 10px;
}

.search-container :placeholder-shown {
    color: #adb5c5;
}

.search-container ::placeholder {
    color: #c3c9d6;
}