:root {
  --telegram-blue: #0088cc;
  --message-bg: #f1f1f1;
  --message-radius: 18px;
  --header-bg: #2a2f32;
  --input-bg: #ffffff;
  --input-border: #dddddd;
  --main__background: #353434;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chat__area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main__background);
  width: calc(100% - 75px);
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #393838;
  color: white;
}

.avatar__open_chat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  flex-grow: 1;
  font-size: 16px;
  font-weight: blob;
}

.online__icon {
  color: #44d362;
  margin-right: 5px;
}

.icons {
  display: flex;
  gap: 15px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message.me {
  justify-content: flex-end;
  margin-right: 6rem;
}

.message.friend {
  justify-content: flex-start;
  background: none;
  margin-left: 6rem;
}

.message__content {
  max-width: 60%;
  padding: 10px;
  border-radius: var(--message-radius);
  background-color: #464646;
  color: white;
}

.message__content.friend {
  background-color: var(--message-bg);
  color: black;
}

.message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__text {
  word-wrap: break-word;
  font-size: 14px;
}

.message__time {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}

.chat__input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 1rem;
  margin-left: 8rem;
  border-radius: 10px;
  background-color: #393838;
  border: none;
  flex-grow: 1;
  max-height: 50px;
  max-width: 80%;
}

.chat__input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--input-bg);
  border-top: 1px solid var(--input-border);
}

.chat__input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f1f1f1;
}

.attach__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.attach__icon {
  width: 24px;
  height: 24px;
  color: var(--telegram-blue);
}

.chat__input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--input-border);
  background-color: #f1f1f1;
  margin-right: 10px;
}

.voice__button,
.send__button {
  background: none;
  border: none;
  cursor: pointer;
}

.voice__icon,
.send__icon,
.attach__icon {
  width: 24px;
  height: 24px;
  color: var(--telegram-blue);
}

.close__chat__area {
  text-align: center;
  margin-top: 30vh;
}

.close-chat-button {
  background: none;
  border: none;
  color: #979797;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.close-chat-button:hover {
  color: #616161;
}