:root {
  --telegram-blue: #0088cc;
  --message-bg: #f1f1f1;
  --message-radius: 18px;
  --header-bg: #2a2f32;
  --input-bg: #ffffff;
  --input-border: #dddddd;
  --main__background: #353434;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.chat__area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--main__background);
  width: calc(100% - 75px);
}

.chat__header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #393838;
  color: white;
}

.avatar__open_chat {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.online__icon {
  color: #44d362;
  margin-right: 5px;
}

.icons {
  display: flex;
  gap: 15px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  margin: 20px 0px 20px 80px;
}

.message, .my-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 80%;
  margin-left: 15%;
  margin-right: auto;
  max-width: 800px;
}

.my-message {
  justify-content: flex-end;
  /* margin-right: 20px; */
}

.message__content {
  max-width: 250px;
  padding: 10px;
  border-radius: var(--message-radius);
  background-color: #464646;
  color: white;
}

.message__content.friend {
  background-color: var(--message-bg);
  color: black;
}

.message__avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__text {
  word-wrap: break-word;
  font-size: 14px;
}

.message__time {
  font-size: 12px;
  text-align: right;
  margin-top: 5px;
}


.chat__input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 1rem auto;
  border-radius: 10px;
  background-color: #393838;
  border: none;
  max-height: 50px;
  width: 80%;
  max-width: 800px;
}

.chat__input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--input-bg);
  border-top: 1px solid var(--input-border);
}

.chat__input input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #f1f1f1;
}

.attach__button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.attach__icon {
  width: 24px;
  height: 24px;
  color: var(--telegram-blue);
}

.chat__input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--input-border);
  background-color: #f1f1f1;
  margin-right: 10px;
}

.voice__button,
.send__button {
  background: none;
  border: none;
  cursor: pointer;
}

.voice__icon,
.send__icon,
.attach__icon {
  width: 24px;
  height: 24px;
  color: var(--telegram-blue);
}

.close__chat__area {
  text-align: center;
  margin-top: 30vh;
}

.close-chat-button {
  background: none;
  border: none;
  color: #979797;
  cursor: pointer;
  margin-right: 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.close-chat-button:hover {
  color: #616161;
}

.chat__header__icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: calc(80% - 150px);
}

.chat__header__icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #979797;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.chat__header__icon:hover {
  color: #616161;
}

.avatar__container {
  position: relative;
  display: flex;
  align-items: center;
}

.status__indicator {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status__indicator.online {
  border-color: #44d362;
}

.status__indicator.offline {
  border-color: #818181;
}

.header__user__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__user__item .activity {
  font-size: 14px;
  color: #818181;
}

.container__content-left {
  margin-left: calc(15% - 150px);
}

.messages::-webkit-scrollbar {
  width: 8px;
}

.messages::-webkit-scrollbar-track {
  background: #393838;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.messages::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}