.friends-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(85% - 180px);
  background-color: var(--friend-panel);
  border-left: 1px solid var(--border-color);
}

.friends-panel__header {
  display: flex;
  gap: 15px;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid;
}

.tab {
  background: none;
  border: none;
  color: var(--muted-font-color);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease;
  font-weight: bold;
}

.tab:hover {
  color: var(--font-color);
}

.active {
  color: var(--font-color);
  font-weight: bold;
}

.active-tab-indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: left 0.3s ease, width 0.3s ease;
}

.friends-panel__search {
  padding: 10px;
  background-color: var(--secondary-bg-color);
  border: none;
  color: var(--font-color);
  font-size: 14px;
  width: 70%;
  margin-left: 10px;
  border-radius: 4px;
  margin-top: 10px;
}

.friends-panel__search::placeholder {
  color: var(--muted-font-color);
}

.friends-panel__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1 1;
  overflow-y: auto;
  width: 71.5%;
}

.friends-panel__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--message-bg-color);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.friend-item:hover {
  background-color: #424751;
}

.friend-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-name {
  font-size: 16px;
  color: var(--font-color);
}

.text-friends {
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.add__new__friend {
  color: white;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(62, 167, 97, 0.795);
  font-weight: bold;
  font-size: 14px;
}