.friends-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(319deg, #40444b 0%, #2c2c2c 50%);
  width: calc(85% - 150px);
}

.friends-panel__header {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 10px;
  max-width: 100%;
  margin: 10px 20px;
  gap: 10px;
}

.friends-panel__header button {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #b9bbbe;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  position: relative;
}

.friends-panel__header .active-tab-indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: #959595;
  transition: all 0.3s ease;
}

.friends-panel__header button:hover {
  background-color: rgba(180, 180, 180, 0.2);
  transform: scale(1.05);
}

.friends-panel__header button.active {
  color: white;
}

.friends-panel__header .tab {
  position: relative;
  display: inline-block;
  border-radius: 15px;
}

.friends-panel__search {
  margin: 10px 20px;
  padding: 10px;
  background-color: #40444b;
  border: none;
  border-radius: 5px;
  width: 60%;
  color: white;
  transition: background-color 0.2s;
}

.friends-panel__search:focus {
  background-color: #555;
}

.friends-panel__list {
  flex: 2;
  overflow-y: auto;
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  transition: background-color 0.2s;
  border-radius: 50px;
}

.friend-item:last-child {
  border-bottom: none;
  color: #99a1a1;
  max-width: 60%;
  cursor: pointer;
}

.friend-item:hover {
  background-color: rgba(184, 184, 184, 0.1);
  border-radius: 50px;
}

.friend-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-name {
  color: white;
  font-size: 14px;
  flex-grow: 1;
}

.friends-panel__activity {
  flex-grow: 1;
  background-color: #36393f;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
}

.friend-actions {
  display: flex;
  gap: 10px;
}

.friend-action-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.friend-action-icon:hover {
  color: #c4c4c4;
}

.friend-action-icon:hover {
  color: #b9bbbe;
}

.friends-panel__activity h3 {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.friends-panel__content {
  display: flex;
  flex: 1;
  overflow: hidden;
}